
.table-subgrupo {
    border: none;
    border-collapse: collapse;
    width: 100%;
    th {
      background: #D0D0D0;
      color: #5e5873;
      text-align: center;
      height: 40px;
      border: 1px solid #D0D0D0 !important;
    }
    th, td {
      font-family: "Montserrat", Helvetica, Arial, serif;
      border: 1px solid darkgray;
      border-collapse: collapse;
      padding: 5px 10px;
    }
    .table-actions {
        >div {
            display: flex;
            justify-content: center;
        }       
        // display: flex;
        // justify-content: center;
        // border: none !important;
    }
}

.add-action {
    margin-bottom: 15px;
}

.table-actions {
  display: flex;
  button {
    margin: 5px;
  }
}